.customersSayContainer {
  display: flex;
  width: 180px;
  height: 220px;
  flex-direction: column;
  background-color: white;
}

.insideCustomersSayContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.customersSayRatingIcon {
  margin-bottom: 10px;
}

.customersSayStar {
  height: 13px;
  object-fit: cover;
  margin-left: 1px;
}

.customersSayImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.customersSayImageName {
  display: flex;
  align-content: center;
}

.customersSayName {
  margin-left: 5px;
  font-weight: 600;
}

.customersSayReview {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
  font-family: "Karla", sans-serif;
  font-size: 10pt;
  font-weight: 600;
}

@media (max-width: 800px) {
  .customersSayContainer {
    width: 130px;
    height: 160px;
  }
  .insideCustomersSayContainer {
    margin: 10px;
  }
  .customersSayRatingIcon {
    margin-bottom: 5px;
  }
  .customersSayImage {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
  .customersSayName {
    font-size: 12px;
  }
  .customersSayReview {
    font-size: 8pt;
    font-weight: 500;
  }
}
